apiVersion: apps/v1
kind: Deployment
metadata:
  name: classifier-deployment
  labels:
    app: classifier
spec:
  replicas: 1
  selector:
    matchLabels:
      app: classifier
  template:
    metadata:
      labels:
        app: classifier
    spec:
      containers:
        - name: classifier
          image: classifier-service:v1
          imagePullPolicy: IfNotPresent
          env:
            - name: MODEL_PATH
              value: /models/mnist_rf_v1.joblib
            - name: ARTIFICIAL_CPU_SEC
              value: "0.1"
          ports:
            - containerPort: 8000
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          volumeMounts:
            - name: model-volume
              mountPath: /models
      volumes:
        - name: model-volume
          hostPath:
            path: /models
            type: Directory
