apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: lm-hpa
  labels:
    app: lm
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: lm-deployment
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
